<!doctype html>
<html class="no-js css-menubar" lang="en">
<body>
<h3>Test stats</h3>
<a href="/stats">Most watched</a> <br /><br />
<a href="/users?country=TO">Users and their videos by country (for TO)</a> <br /><br />
<a href="/viewers?video_id=850667">Viewers by country (for video 850667)</a>
</body>
</html>